body 	{
	margin:0px;
	padding: 0px;
}
.header h1 {
	color:	#2B4570;
	font-size: 50px;
	text-align: center;
	font-family: Georgia, serif;
	margin:0px;
	padding-top:50.5px;
}

.header h3 {
	color:#916E6E;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding-bottom: 50px;
	margin:0px;
}

.header {
	height: 160px;
}

.logout{
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}

.logout a {
	color:#3a4b9c;	
	text-decoration: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	
}
.logout a:hover {
	color:#5fb2ac;
}

.meniu div{
	width:50%;
	background-color: #8E5C5C
}
.meniu div:hover{
	color:white;
	background-color:#7c5151;
}

.meniu a {
	color:white;
	text-decoration: none;
	background-color:#8E5C5C;
}
.meniu a:hover {
	color:white;
	background-color: pink;
}
.search {
	width: calc(50% - 1px);
	float: left;
	position: absolute;
	text-align: center;
	border-right: 1px white solid;
	color: white;
	padding: 4px 0px;
}

.profile {
	width:50%;
	float: right;
	text-align: center;
	position: relative;
	color: white;
	padding: 4px 0px;
}