body 	{
	margin:0px;
	padding: 0px;
}
.header h1 {
	color:	#2B4570;
	font-size: 50px;
	text-align: center;
	font-family: Georgia, serif;
	margin:0px;
	padding-top:50.5px;
}

.header h3 {
	color:#916E6E;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding-bottom: 50px;
	margin:0px;
}
.header a{
	text-decoration: none;
}
.header {
	height: 160px;
}

.logout{
	float: right;
	padding-right: 10px;
	padding-top: 10px;
}

.logout a {
	color:#3a4b9c;	
	text-decoration: none;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	
}
.logout a:hover {
	color:#5fb2ac;
}

.meniu div{
	background-color: #8E5C5C;
	font-size: 18px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.meniu div:hover{
	color:white;
	background-color:#7c5151
}

.meniu a {
	color:white;
	text-decoration: none;
	background-color:#8E5C5C;
}
.meniu a:hover {
	color:white;
	background-color: pink;
}
.search {
	width: calc(50% - 1px);
	float: left;
	position: absolute;
	text-align: center;
	border-right: 1px white solid;
	color: white;
	padding: 4px 0px;
}

.profile {
	width:50%;
	float: right;
	text-align: center;
	position: relative;
	color: white;
	padding: 4px 0px;
}

.organ {
	height: 400px;
	width: 300px;
	background-color: #ffccba;
	margin: 20px;
	padding: 4px;
	border-radius: 10px;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
}

.organ h2{
	text-align: center;
}

.organ img{
	display: block;
    margin-left: auto;
    margin-right: auto;
}
input[type=text] {
	margin-top: 30px;
	margin-bottom: 5px;
	margin-left: 20px;
	padding: 6px;
    border: solid rgb(68, 53, 53) 1px;
	font-size: 18px;
	border-radius: 20px;
	width: 500px;
}
.checked {
    color: rgb(255, 80, 80);
}